body {
    background-color: #2D2D30;
    background-image: url(/assets/background.svg);
   
}

.attend {
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  color: aqua;
  margin:0 auto;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#gallery{
  margin:0 auto;
  padding-left: 4.8%;
}

.img {
  width: 20.2% !important;
  max-width: 20.2% !important;
  border-radius: 50%;
  min-height: 40%;
  max-height: 40%;
  margin:20px;
  display: inline-grid;
  margin-top:20px !important;
}

/* .item1 {
  grid-row-start: 1;
  grid-row-end: 3;
} */

.card-custom{
  background: rgb(67,52,124);
  background: linear-gradient(167deg, rgba(67,52,124,1) 65%, rgba(52,87,124,1) 79%, rgba(75,0,136,1) 90%);

}
.card-title{
  font-family: monospace;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: aliceblue;
}
.card-text{
  font-family: monospace;
  color: aliceblue;
}
/* for mobile screen optimization */

@media (max-width: 800px) {
  .img{
    width:40% !important;
    max-width: 40% !important;
  }
  #gallery{
    margin:0 auto;
    padding-left: 0;
  }
}

@media (max-width: 900px) {
  .img{
    width:40% !important;
    max-width: 40% !important;
  }
  #gallery{
    margin:0 auto;
    padding-left: 0;
  }
}

@media (max-width: 500px) {
  .img{
    max-width: 40% !important;
    margin: 0 auto;
  }
  #gallery{
    margin:0 auto;
    padding-left: 0;
  }
}

